.section {
  width: 100%;
  padding: $base_grid * 12;
  position: relative;
  overflow: hidden;
}

.container {
  width: 95%;
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  @include large {
    max-width: 1100px;
  }
  @media screen and(max-width: 1330px) {
    max-width: 960px;
  }
  @include medium {
    max-width: 760px;
  }
  @include small {
    max-width: 95vw;
  }
}
@for $i from 1 through 12 {
  .col-#{$i} {
    box-sizing: border-box;
    padding: $base_grid * 3;
    width: calc(100% / 12 * #{$i});
    flex-shrink: 0;
    @media screen and(max-width: 1330px) {
      padding: $base_grid * 2;
    }
    @include medium {
      padding: $base_grid * 2;
    }
    @include mobile {
      width: 100%;
      &.md-#{$i} {
        width: 100%;
      }
    }
  }
}
