h1  {
  font-size: 3.4em;
  font-family: $font;
  color: $color_dark;
  font-weight: 700;
  -webkit-font-smoothing: smooth;
}

p, li, span, div, a, input {
  line-height: 1.8em;
  font-weight: 400;
  font-family: $font;
  font-size: 1em;
  color: $color_dark;
}

h3 {
  font-weight: bold;
  font-size: 1.3em;
}

b {
  font-weight: 700;
}

code {
  font-weight: 700;
  padding: 2px $base_grid * 2;
  margin: 0 $base_grid;
  border-radius: $base_grid;
  background: #fff;
}
*::selection {
  color: #fff;
  background-color: #D83E29;
}
h6 {
  text-transform: uppercase;
  letter-spacing: .15em;
  font-size: .8em;
  color: $color_grey;
  font-weight: bold;
}
input[type="text"] {
  border: none;
  border-bottom: 2px solid $color_light;
  box-sizing: border-box;
  appearance: none;
  outline: none;
  height: $base_grid * 10;
  font-size: 1em;
  transition: all .3s ease-in-out;
  width: 100%;
  &:focus {
    border-bottom: 2px solid $color_grey;
  }
}

