$font: 'Titillium Web', sans-serif;

$color_dark: #0A2D3C;
$color_light: #E5E8EB;
$color_white: #f5f5f7;
$color_primary: #D54A4A;
$color_yellow: #E09337;
$color_grey: #C9CED1;
$color_green: #8AE8A7;
$color_darkgrey: #888D91;

$base_grid: 4px;

$screen_large: 1500px;
$screen_medium: 1200px;
$screen_small: 1024px;
$screen_mobile: 930px;

@mixin large {
  @media screen and(max-width: $screen_large) {
    @content;
  }
}
@mixin medium {
  @media screen and(max-width: $screen_medium) {
    @content;
  }
}
@mixin small {
  @media screen and(max-width: $screen_small) {
    @content;
  }
}
@mixin mobile {
  @media screen and(max-width: $screen_mobile) {
    @content;
  }
}
@mixin placeholder {
  ::-webkit-input-placeholder {@content;}
  :-moz-placeholder           {@content;}
  ::-moz-placeholder          {@content;}
  :-ms-input-placeholder      {@content;}  
}

