.video-events {
  position: absolute;
  width: 100%;
  left: 0;
  top: 15%;

  &__event {
    opacity: 0;
    background: $color_dark;
    padding: $base_grid * 2 $base_grid * 7;
    display: block;
    width: $base_grid * 80;
    border-radius: 0 0 $base_grid * 4 0;
    list-style: none;
    position: absolute;
    color: #fff;
    transform: translateX(-$base_grid * 4);
    transition: all .4s ease-in-out;
    margin-bottom: $base_grid * 2;
    &.is-active {
      position: relative;
      transform: translateX(0);
      opacity: 1;
    }
    &.is-right {
      transform: translateX($base_grid * 4);
      float: right;
      right: 0;
      border-radius: 0 0 0 $base_grid * 4;
      &.is-active {
        position: relative;
        transform: translateX(0);
        opacity: 1;
      }
    }
  }
}

.event-type {
  &__default {
    &--top {
      display: flex;
      justify-content: space-between;
      padding: $base_grid 0;
      margin-bottom: $base_grid;
      border-bottom: 1px solid rgba(255,255,255,0.1);
      small, span {
        color: #fff;
        font-weight: bold;
        font-size: .8em;
        text-transform: uppercase;
        letter-spacing: .1em;
      }
    }
    &--content {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      margin-bottom: $base_grid * 4;
    }
    &--by {
      color: #fff;
      font-size: 1.3em;
    }
    &--score {
      font-weight: bold;
      color: $color_light;
    }
  }
  &__halftime {
    right: 0;
  }
}