.video-player {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  &__wrapper {
    width: 80vw;
    height: auto;
    max-width: 1000px;
    padding: 0;
    position: relative;
    overflow: hidden;
  }
  &__video {
    width: 100%;
    height: auto;
    appearance: none;
    outline: none;
    position: relative;
  }
}