.video-ticker {
  position: absolute;
  background: #fff;
  top: 80%;
  width: 100%;
  display: flex;
  z-index: 10;
  flex-direction: column;

  &__item {
    position: absolute;
    opacity: 0;
    list-style: none;
    transform: translateX($base_grid * 20);
    width: 100%;
    padding: $base_grid;
    text-align: center;
    transition: all .3s ease-in-out;

    &.is-active {
      transform: translateX(0);
      position: relative;
      opacity: 1;
    }
  }
}